body{
  background-color: #CCFFCC
}
.input{
  width: 500px;
  height: 550px;
  float: left;
}
.result{
  width: 500px;
  height: 600px;
  float: right;
}
.button{
  width: 500px;
  height: 50px;
  clear: left;
}
.inputArea {
  width: 450px;
  height: 500px;
}
.resultArea {
  width: 450px;
  height: 550px;
}