* {
  margin: 0;
  padding: 0;
  font-size: 0;
}

html, body{
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #CCFFCC;
  position: relative;
}
p{
  height: 100%;
}
p, textarea, button{
  font-size: 15px;
}

.left{
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: calc(50% - 40px);
  height: 90%;
}
.input {
  width: 100%;
  height: 100%;
}
.inputArea {
  resize: none;
  width: calc(100% - 20px);
  height: 95%;
  margin-left: 10px;
}

.center{
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  height: 90%;
}
.extractButton{
  width: 100%;
}
.resetButton {
  width: 100%;
}

.right{
  display: inline-block;
  margin-left: auto;
  text-align: left;
  width: calc(50% - 40px);
  height: 90%;
}
.result {
  width: 100%;
  height: 100%;
}
.resultForm {
  width: 100%;
  height: 100%;
}
.resultArea {
  resize: none;
  margin-left: 10px;
  width: calc(100% - 20px);
  height: 95%;
} 
