* {
  margin: 0;
  padding: 0;
  font-size: 0;
}

html, body{
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #CCFFCC;
  position: relative;
}

p, textarea, button{
  font-size: 15px;
}

.left{
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
.right{
  display: inline-block;
  width: 50%;
}
.inputArea {
  width: 90%;
  height: 500px;
}
.resultArea {
  width: 90%;
  height: 500px;
} 