* {
  margin: 0;
  padding: 0;
  font-size: 0;
}

html, body{
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #CCFFCC;
  position: relative;
}

p, textarea, button{
  font-size: 15px;
}

.left{
  display: inline-block;
  vertical-align: top;
  width: 45%;
}
.center{
  display: inline-block;
  vertical-align: top;
  width: 10%;
}
.right{
  display: inline-block;
  margin-left: auto;
  width: 45%;
}
.inputArea {
  resize: none;
  width: auto;
  margin: 10px;
  height: 500px;
}
.resultArea {
  resize: none;
  margin: 10px;
  width: 90%;
  height: 500px;
} 
.extractButton{
  width: 80px;
}
.resetButton {
  width: 80px;
}
